In [1]:
from sklearn.preprocessing import LabelEncoder
from datetime import datetime as dt
from textblob import TextBlob
import pandas as pd
import numpy as np
import re

In [51]:
df = pd.read_csv('/Users/tbder/group1-project2-main/2021.csv', encoding ='latin1')

pd.set_option('display.max_colwidth', 1000)

df.tail()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
12334,12334,142881284019060736,142881284019060736,1.322901e+12,2011-12-03 08:22:07,0,NaN,That was a total non sequitur btw,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12335,12335,142880871391838208,142880871391838208,1.322900e+12,2011-12-03 08:20:28,0,NaN,"Great Voltaire quote, arguably better than Twain. Hearing news of his own death, Voltaire replied the reports were true, only premature.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12336,12336,142188458125963264,142188458125963264,1.322735e+12,2011-12-01 10:29:04,0,NaN,I made the volume on the Model S http://t.co/wMCnT53M go to 11. Now I just need to work in a miniature Stonehenge...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12337,12337,142179928203460608,142179928203460608,1.322733e+12,2011-12-01 09:55:11,0,NaN,"Went to Iceland on Sat to ride bumper cars on ice! No, not the country, Vlad's rink in Van Nuys. Awesome family fun :) http://t.co/rBQXJ9IT",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12338,12338,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someone pretending to be me :) This is actually me.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [3]:
df['date'] = pd.to_datetime(df['date']).dt.normalize()
df

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1373819373090050048,1373669212271566858,1.616379e+12,2021-03-22,0,NaN,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'bluemoondance74', 'name': 'Reagan', 'id': '844015154643648512'}, {'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN
1,1,1373735946244431873,1373669212271566858,1.616359e+12,2021-03-21,0,NaN,@NASASpaceflight Hopefully will happen this decade,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN
2,2,1373555480870621188,1373328330041229312,1.616316e+12,2021-03-21,0,NaN,@newscientist True,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New Scientist', 'id': '19658826'}]",NaN,NaN,NaN,NaN
3,3,1373507545315172357,1373263440391864323,1.616305e+12,2021-03-21,0,NaN,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'cleantechnica', 'name': 'CleanTechnica', 'id': '17060015'}]",NaN,NaN,NaN,NaN
4,4,1373492611231535111,1373357995288051718,1.616301e+12,2021-03-21,0,NaN,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CathieDWood', 'name': 'Cathie Wood', 'id': '2361631088'}]",NaN,NaN,NaN,NaN
5,5,1373490900807032840,1310591950853201921,1.616301e+12,2021-03-21,0,NaN,"@Swaggerheim @SciGuySpace Not trying to roast, just being as literal as possible",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Swaggerheim', 'name': 'Stefen Fagerheim', 'id': '709813976264220672'}, {'screen_name': 'SciGuySpace', 'name': 'Eric Berger', 'id': '15726728'}]",NaN,NaN,NaN,NaN
6,6,1373490467807977475,1373451932078022658,1.616301e+12,2021-03-21,0,NaN,@johnkrausphotos ð¤£ð¤£,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'johnkrausphotos', 'name': 'John Kraus', 'id': '3072160164'}]",NaN,NaN,NaN,NaN
7,7,1373490182117224448,1373485789099753472,1.616301e+12,2021-03-21,0,NaN,"@AtomicsAstro @PPathole Yeah, but Iâm English",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'AtomicsAstro', 'name': 'AstroAtomicsð°', 'id': '1044266372'}, {'screen_name': 'PPathole', 'name': 'Pranay Pathole', 'id': '1291945442'}]",NaN,NaN,NaN,NaN
8,8,1373489931574673408,1310591950853201921,1.616300e+12,2021-03-21,0,NaN,"@SciGuySpace Not quite how I would tell the story, but itâs probably worth a read",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'SciGuySpace', 'name': 'Eric Berger', 'id': '15726728'}]",NaN,NaN,NaN,NaN
9,9,1373489348960645120,1373485789099753472,1.616300e+12,2021-03-21,0,NaN,@PPathole This is important,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'PPathole', 'name': 'Pranay Pathole', 'id': '1291945442'}]",NaN,NaN,NaN,NaN
10,10,1373471097559994368,1366405443136856068,1.616296e+12,2021-03-21,0,NaN,"@TrungTPhan Wow, hard to believe that was 17 years ago!",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TrungTPhan', 'name': 'Trung Phan ð¨ð¦', 'id': '945817135816654848'}]",NaN,NaN,NaN,NaN
11,11,1373467434380783626,1373436726727745537,1.616295e+12,2021-03-21,0,NaN,@TeslaPhx @CodingMark @EvaFoxU @jrosinski97 @daelmor @piangfa @Kristennetten @jessica_kirsh @JC_finance @jeremyjudkins !,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TeslaPhx', 'name': 'â®ÃÂ§LÎ» â±Hâ ÎN!X', 'id': '224134588'}, {'screen_name': 'CodingMark', 'name': 'Mark', 'id': '952755407788826624'}, {'screen_name': 'EvaFoxU', 'name': 'Eva CyberFox ð¦', 'id': '959471389282578432'}, {'screen_name': 'jrosinski97', 'name': 'ð¥TÎSLA Jasonð¥', 'id': '373778231'}, {'screen_name': 'daelmor', 'name': 'dana (the good oneð)', 'id': '97552785'}, {'screen_name': 'piangfa', 'name': 'FahSky ð½\U0001f90d', 'id': '23284927'}, {'screen_name': 'Kristennetten', 'name': 'K10â¨', 'id': '985686123123949568'}, {'screen_name': 'jessica_kirsh', 'name': 'ð» Jessica Kirsh', 'id': '199564329'}, {'screen_name': 'JC_finance', 'name': 'JC Finance & Investingðð', 'id': '1257081948700315650'}, {'screen_name': 'jeremyjudkins', 'name': 'Jeremy Judkins', 'id': '84890791'}]",NaN,NaN,NaN,NaN
12,12,1373301467440771074,1373297357719232512,1.616256e+12,2021-03-20,0,NaN,@Erdayastronaut @Twitter @TwitterComms @verified @jack Sigh,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Erdayastronaut', 'name': 'Everyday Astronaut', 'id': '3167257102'}, {'screen_name': 'Twitter', 'name': 'Twitter', 'id': '783214'}, {'screen_name': 'TwitterComms', 'name': 'Twitter Comms', 'id': '234489024'}, {'screen_name': 'verified', 'name': 'Twitter Verified', 'id': '63796828'}, {'screen_name': 'jack', 'name': 'jack', 'id': '12'}]",NaN,NaN,NaN,NaN
13,13,1373274941202735105,1373065408983527431,1.616249e+12,2021-03-20,0,NaN,@OwenSparks_ I actually ate the sandwich haha!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'OwenSparks_', 'name': 'Owen Sparks ð', 'id': '829829626180599808'}]",NaN,NaN,NaN,NaN
14,14,1373259076465950726,1373084374837694465,1.616245e+12,2021-03-20,0,NaN,@TheBabylonBee ð¤£ð¤£,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TheBabylonBee', 'name': 'The Babylon Bee', 'id': '4914384040'}]",NaN,NaN,NaN,NaN
15,15,1373203066556588034,1373203066556588034,1.616232e+12,2021-03-20,0,NaN,Music in zero gravity https://t.co/bepfMipjrE,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
16,16,1373145910549483522,1373051617575010308,1.616218e+12,2021-03-20,0,NaN,"@WholeMarsBlog Given significant architectural changes, including fundamental improvements to pure vision, there is limited value to testing 8.x. Hoping to upload V9.0 &amp; button next month.",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'WholeMarsBlog', 'name': 'Whole Mars Catalog', 'id': '1263491240336769026'}]",NaN,NaN,NaN,NaN
17,17,1373132222555848713,1371142209416929286,1.616215e+12,2021-03-20,0,NaN,@SpacexVision An orbital propellant depot optimized for cryogenic storage probably makes sense long-term,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'SpacexVision', 'name': 'SpaceXvision', 'id': '1245684737135398912'}]",NaN,NaN,NaN,NaN
18,18,1373027383511412739,1373025863646740480,1.616190e+12,2021-03-19,0,NaN,@Teslarati ÐÑÐµÑÑÑÐ¿Ð»ÐµÐ½ÑÐµ Ð¸ Ð½Ð°ÐºÐ°Ð·Ð°Ð½ÑÐµ,uk,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Teslarati', 'name': 'TESLARATI', 'id': '1308211178'}]",NaN,NaN,NaN,NaN
19,19,1372826575293583366,1372701263427641346,1.616142e+12,2021-03-19,0,NaN,@MarcusHouse The [ahem] reach-around,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MarcusHouse', 'name': 'Marcus House', 'id': '718325771392172033'}]",NaN,NaN,NaN,NaN
20,20,1372813161846439936,1372762954479804416,1.616139e+12,2021-03-19,0,NaN,"@RationalEtienne @jordanbpeterson We could talk about Life, the Universe and Everything",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'RationalEtienne', 'name': 'TechnoPope of Muskanity ð', 'id': '2241150253'}, {'screen_name': 'jordanbpeterson', 'name': 'Dr Jordan B Peterson', 'id': '95092020'}]",NaN,NaN,NaN,NaN
21,21,1372812312936128513,1372540915861094401,1.616139e+12,2021-03-19,0,NaN,@VinterNix @Bell Coming soon!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'VinterNix', 'name': 'VinterNix', 'id': '1075124697669480453'}, {'screen_name': 'Bell', 'name': 'Bell', 'id': '38807340'}]",NaN,NaN,NaN,NaN
22,22,1372808148369641476,1372579468196331528,1.616138e+12,2021-03-19,0,NaN,@MoMoButFaster ð¤£ð¤£,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MoMoButFaster', 'name': 'ð xX_P@W_L0V3R_Xxð ', 'id': '3233011012'}]",NaN,NaN,NaN,NaN
23,23,1372803636305137664,1372542764160847874,1.616137e+12,2021-03-19,0,NaN,"@remouherek @SciGuySpace As you can see, I have a long history with using tents!",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'remouherek', 'name': 'Remo Uherek', 'id': '3549601'}, {'screen_name': 'SciGuySpace', 'name': 'Eric Berger', 'id': '15726728'}]",NaN,NaN,NaN,NaN
24,24,1372792458128412675,1372762954479804416,1.616134e+12,2021-03-19,0,NaN,@jordanbpeterson What would you like to talk about?,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'jordanbpeterson', 'name': 'Dr Jordan B Peterson', 'id': '95092020'}]",NaN,NaN,NaN,NaN
25,25,1372792170147553292,15434727182,1.616134e+12,2021-03-19,0,NaN,@teslaownersSV ð¯,und,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'teslaownersSV', 'name': 'Tesla Owners Of Silicon Valley', 'id': '1016059981907386368'}]",NaN,NaN,NaN,NaN
26,26,1372739631846936581,1372739631846936581,1.616122e+12,2021-03-19,0,NaN,https://t.co/Ngk8SJvDUW,und,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
27,27,1372725108909957121,1372705169142599683,1.616118e+12,2021-03-19,0,NaN,"@melaniemadri @thejackbeyer @NASASpaceflight Floor is installed, elevator is operational, waiting on glass",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'melaniemadri', 'name': 'Melanieâï¸', 'id': '1165695391830028288'}, {'screen_name': 'thejackbeyer', 'name': 'Jack Beyer', 'id': '290710248'}, {'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN
28,28,1372724555047972869,1372705169142599683,1.616118e+12,2021-03-19,0,NaN,@thejackbeyer @NASASpaceflight The high bay is measured to fit!,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'thejackbeyer', 'name': 'Jack Beyer', 'id': '290710248'}, {'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN
29,29,1372697001633136646,1372688191803768840,1.616111e+12,2021-03-18,0,NaN,@tobyliiiiiiiiii We will need launch tower for that. Hook height for the lift is ~140 m &amp; both booster &amp; ship need to be stabilized at stage separation joint.,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'tobyliiiiiiiiii', 'name': 'Toby Li', 'id': '809575831487934465'}]",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12309,12309,152394000857448448,152164359987142657,1.325169e+12,2011-12-29,0,NaN,"@om Cool personal essay. It really resonated with me, as I felt the same way after coming very close to dying from malaria ten years ago.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12310,12310,152315925167742977,152315925167742977,1.325150e+12,2011-12-29,0,NaN,"@richardbranson Liked ""Screw Business as Usual"" a lot. This approach should be taken to heart by all, as it really is the smart move.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12311,12311,152311993636892672,150720923127922688,1.325149e+12,2011-12-29,0,NaN,"@kanyewest Just returned from Haiti. For those who want to help, I recommend donating to MSF, UNICEF and Artists for Peace & Justice.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12312,12312,152153637639028736,152151847614943233,1.325111e+12,2011-12-28,0,NaN,@TheOnion So true :),en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12313,12313,151809315026636800,151809315026636800,1.325029e+12,2011-12-27,0,NaN,If you ever wanted to know the *real* truth about the moon landings ...(best Onion article ever) http://t.co/pgNEJsjI,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12314,12314,151338939389706242,151338939389706242,1.324917e+12,2011-12-26,0,NaN,Walked around a neighborhood recently rebuilt with help from APJ and others http://t.co/KYHjsS1k,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12315,12315,151337237429239808,151337237429239808,1.324917e+12,2011-12-26,0,NaN,"It was Xmas, so we brought presents for the kids at the orphanage. They don't usually get much. http://t.co/r8qfluIG",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12316,12316,151327734843445249,151327734843445249,1.324914e+12,2011-12-26,0,NaN,"Met with UNICEF, Doctors Without Borders and Artists for Peace & Justice. I support them and would recommend others do too.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12317,12317,151322293174419456,151322293174419456,1.324913e+12,2011-12-26,0,NaN,Just returned from a trip to Haiti. Covered a lot of ground and saw many tough situations. They need a lot of help.,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12318,12318,151317672217419777,151317672217419777,1.324912e+12,2011-12-26,0,NaN,Single character Tweets are the ulitmate extension of the Twitmeme...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12319,12319,151151777662779392,151151777662779392,1.324872e+12,2011-12-26,0,NaN,I,und,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12320,12320,150390624552615937,150390624552615937,1.324691e+12,2011-12-24,0,NaN,The Russians are having some challenges with their rockets. Too many of the engineers that designed them have retired: http://t.co/rEs7spSU,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12321,12321,150388617246801920,150388617246801920,1.324690e+12,2011-12-24,0,NaN,We had a long and interesting conversation on many subjects. He has exciting ideas for extending his creative talents beyond music.,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12322,12322,150387544402575360,150387544402575360,1.324690e+12,2011-12-24,0,NaN,Kanye stopped by the SpaceX rocket factory today. http://t.co/6z7gHBn6,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12323,12323,149813972915339264,149813972915339264,1.324553e+12,2011-12-22,0,NaN,Model S options are out! Performance in red and black for me. I will deliver my car in June/July. http://t.co/acnyP4nh,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12324,12324,149787827712958464,149787827712958464,1.324547e+12,2011-12-22,0,NaN,"Hi, I'm Art Garfunkel. Have you heard the sound of silence? Because, you know, it makes a sound... http://t.co/7vgya9xL",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12325,12325,149688828599349251,149688828599349251,1.324524e+12,2011-12-22,0,NaN,Raul Campos invited me to do a guest DJ gig on KCRW. Hear my random holiday season music selections at http://t.co/o6FQASvC,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12326,12326,149629518267695104,149629518267695104,1.324509e+12,2011-12-21,0,NaN,Yum! Even better than deep fried butter: http://t.co/Ody21NuD,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12327,12327,149447517325635584,149447517325635584,1.324466e+12,2011-12-21,0,NaN,"Yeah, this really is me, as my Mom @mayemusk will attest. Not sure I can handle just doing 140 char missives. Will put longer thoughts on G+",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12328,12328,149444078210256896,149444078210256896,1.324465e+12,2011-12-21,0,NaN,"Got called randomly by Kanye West today and received a download of his thoughts, ranging from shoes to Moses. He was polite, but opaque.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12329,12329,149441101684686848,149441101684686848,1.324465e+12,2011-12-21,0,NaN,His singing and acting talent will be sorely missed: http://t.co/IIFKob75 South Park sequel coming soon...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12330,12330,149439686702661632,149439686702661632,1.324464e+12,2011-12-21,0,NaN,Why does the crowd cry over the glorious leader Kim Il Sung's death? Fear of being shot may play a role: http://t.co/hoQrYtG1,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12331,12331,149436471764459520,149436471764459520,1.324463e+12,2011-12-21,0,NaN,Sam Harris also wrote a nice piece on the awesomeness of Hitchens: http://t.co/fPkLiK3v May the good man RIP.,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12332,12332,149435658115612672,149435658115612672,1.324463e+12,2011-12-21,0,NaN,"Read ""Lying"", the new book by my friend Sam Harris. Excellent cover art and lots of good reasons not to lie!",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12333,12333,143171132814671872,143171132814671872,1.322970e+12,2011-12-04,0,NaN,Am reading a great biography of Ben Franklin by Isaacson. Highly recommended.,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12334,12334,142881284019060736,142881284019060736,1.322901e+12,2011-12-03,0,NaN,That was a total non sequitur btw,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12335,12335,142880871391838208,142880871391838208,1.322900e+12,2011-12-03,0,NaN,"Great Voltaire quote, arguably better than Twain. Hearing news of his own death, Voltaire replied the reports were true, only premature.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12336,12336,142188458125963264,142188458125963264,1.322735e+12,2011-12-01,0,NaN,I made the volume on the Model S http://t.co/wMCnT53M go to 11. Now I just need to work in a miniature Stonehenge...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12337,12337,142179928203460608,142179928203460608,1.322733e+12,2011-12-01,0,NaN,"Went to Iceland on Sat to ride bumper cars on ice! No, not the country, Vlad's rink in Van Nuys. Awesome family fun :) http://t.co/rBQXJ9IT",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12338,12338,15434727182,15434727182,1.275676e+12,2010-06-04,0,NaN,"Please ignore prior tweets, as that was someone pretending to be me :) This is actually me.",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
df.tweet = df.tweet.astype(str)


tweet_lens = []
for tweet in df.tweet:
    tweet_lens.append(len(tweet))
    
df_tweet_len = pd.DataFrame(tweet_lens)


df_tweet_len.columns = ['tweet_length']

df_tweet_len.head()

   tweet_length
0            86
1            50
2            18
3           128
4           170

In [5]:
df1 = pd.concat([df, df_tweet_len], axis=1)

df1.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,tweet_length
0,0,1373819373090050048,1373669212271566858,1.616379e+12,2021-03-22,0,NaN,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,en,[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'bluemoondance74', 'name': 'Reagan', 'id': '844015154643648512'}, {'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN,86
1,1,1373735946244431873,1373669212271566858,1.616359e+12,2021-03-21,0,NaN,@NASASpaceflight Hopefully will happen this decade,en,[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN,50
2,2,1373555480870621188,1373328330041229312,1.616316e+12,2021-03-21,0,NaN,@newscientist True,en,[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New Scientist', 'id': '19658826'}]",NaN,NaN,NaN,NaN,18
3,3,1373507545315172357,1373263440391864323,1.616305e+12,2021-03-21,0,NaN,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,en,[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'cleantechnica', 'name': 'CleanTechnica', 'id': '17060015'}]",NaN,NaN,NaN,NaN,128
4,4,1373492611231535111,1373357995288051718,1.616301e+12,2021-03-21,0,NaN,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",en,[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'CathieDWood', 'name': 'Cathie Wood', 'id': '2361631088'}]",NaN,NaN,NaN,NaN,170

In [6]:
df = df1
df.drop(columns=['id'], inplace=True)
df.head()

,Unnamed: 0,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,tweet_length
0,0,1373669212271566858,1.616379e+12,2021-03-22,0,NaN,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,en,[],[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'bluemoondance74', 'name': 'Reagan', 'id': '844015154643648512'}, {'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN,86
1,1,1373669212271566858,1.616359e+12,2021-03-21,0,NaN,@NASASpaceflight Hopefully will happen this decade,en,[],[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'NASASpaceflight', 'name': 'Chris B - NSF', 'id': '21292523'}]",NaN,NaN,NaN,NaN,50
2,2,1373328330041229312,1.616316e+12,2021-03-21,0,NaN,@newscientist True,en,[],[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New Scientist', 'id': '19658826'}]",NaN,NaN,NaN,NaN,18
3,3,1373263440391864323,1.616305e+12,2021-03-21,0,NaN,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,en,[],[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'cleantechnica', 'name': 'CleanTechnica', 'id': '17060015'}]",NaN,NaN,NaN,NaN,128
4,4,1373357995288051718,1.616301e+12,2021-03-21,0,NaN,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",en,[],[],...,NaN,NaN,NaN,NaN,"[{'screen_name': 'CathieDWood', 'name': 'Cathie Wood', 'id': '2361631088'}]",NaN,NaN,NaN,NaN,170

In [7]:
df = df[['date', 'tweet', 'tweet_length']]

df.head()

,date,tweet,tweet_length
0,2021-03-22,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,86
1,2021-03-21,@NASASpaceflight Hopefully will happen this decade,50
2,2021-03-21,@newscientist True,18
3,2021-03-21,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,128
4,2021-03-21,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",170

In [8]:
df.date.dtypes


df['date'] = pd.to_datetime(df['date'])

df.head()

C:\Users\tbder\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,date,tweet,tweet_length
0,2021-03-22,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,86
1,2021-03-21,@NASASpaceflight Hopefully will happen this decade,50
2,2021-03-21,@newscientist True,18
3,2021-03-21,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,128
4,2021-03-21,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",170

In [9]:
df.set_index('date', inplace = True)

df.head()

,tweet,tweet_length
date,,
2021-03-22,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,86
2021-03-21,@NASASpaceflight Hopefully will happen this decade,50
2021-03-21,@newscientist True,18
2021-03-21,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,128
2021-03-21,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",170

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12339 entries, 2021-03-22 to 2010-06-04
Data columns (total 2 columns):
tweet           12339 non-null object
tweet_length    12339 non-null int64
dtypes: int64(1), object(1)
memory usage: 289.2+ KB

In [11]:
xxx = df.tweet[0]
xxx

'@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!'

In [12]:
tweet_list = df.tweet.tolist()
tweet_list[0]

'@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!'

In [13]:
def clean_tweet_http(dirty_string):
    sep = "https://" 
    if sep in dirty_string:
        clean = dirty_string.split(sep, 1)[0]
    else:
        clean = dirty_string
    return clean

In [14]:
clean_tweets1 = []

for i in range(0, len(tweet_list)):
    x = clean_tweet_http(tweet_list[i])
    clean_tweets1.append(x)

In [15]:
clean_tweets1[:10]

['@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!',
 '@NASASpaceflight Hopefully will happen this decade',
 '@newscientist True',
 '@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars',
 '@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.',
 '@Swaggerheim @SciGuySpace Not trying to roast, just being as literal as possible',
 '@johnkrausphotos ð\x9f¤£ð\x9f¤£',
 '@AtomicsAstro @PPathole Yeah, but Iâ\x80\x99m English',
 '@SciGuySpace Not quite how I would tell the story, but itâ\x80\x99s probably worth a read',
 '@PPathole This is important']

In [16]:
# def clean_tweet_usernames(dirty_string):
#     sep = "https://" 
#     if sep in dirty_string:
#         clean = dirty_string.split(sep, 1)[0]
#     else:
#         clean = dirty_string
#     return clean

In [17]:
clean_tweets2 = []

# for i in range(0, len(clean_tweets1)):
for tweet in clean_tweets1:
    result = re.sub('@([A-Za-z0-9_]+) ', '', tweet)
    clean_tweets2.append(result)

In [18]:
clean_tweets2[:10]

['Going well. Lot of work for an extra 20 secs of Isp!',
 'Hopefully will happen this decade',
 'True',
 'I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars',
 'When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.',
 'Not trying to roast, just being as literal as possible',
 'ð\x9f¤£ð\x9f¤£',
 'Yeah, but Iâ\x80\x99m English',
 'Not quite how I would tell the story, but itâ\x80\x99s probably worth a read',
 'This is important']

In [19]:
clean_tweets3 = []

# for i in range(0, len(clean_tweets1)):
for tweet in clean_tweets2:
    result = re.sub('RT @([A-Za-z0-9_]+\:) ', '', tweet)
    clean_tweets3.append(result)
    
clean_tweets3[:10]

['Going well. Lot of work for an extra 20 secs of Isp!',
 'Hopefully will happen this decade',
 'True',
 'I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars',
 'When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.',
 'Not trying to roast, just being as literal as possible',
 'ð\x9f¤£ð\x9f¤£',
 'Yeah, but Iâ\x80\x99m English',
 'Not quite how I would tell the story, but itâ\x80\x99s probably worth a read',
 'This is important']

In [20]:
clean_tweets4 = []

for tweet in clean_tweets3:
    result = re.sub('\n', ' ', tweet)
    clean_tweets4.append(result)

    
clean_tweets4[:10]

['Going well. Lot of work for an extra 20 secs of Isp!',
 'Hopefully will happen this decade',
 'True',
 'I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars',
 'When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.',
 'Not trying to roast, just being as literal as possible',
 'ð\x9f¤£ð\x9f¤£',
 'Yeah, but Iâ\x80\x99m English',
 'Not quite how I would tell the story, but itâ\x80\x99s probably worth a read',
 'This is important']

In [21]:
clean_tweets5 = []

for tweet in clean_tweets4:
    result = re.sub(' https:?', '', tweet)
    clean_tweets5.append(result)
    
clean_tweets5[:10]

['Going well. Lot of work for an extra 20 secs of Isp!',
 'Hopefully will happen this decade',
 'True',
 'I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars',
 'When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.',
 'Not trying to roast, just being as literal as possible',
 'ð\x9f¤£ð\x9f¤£',
 'Yeah, but Iâ\x80\x99m English',
 'Not quite how I would tell the story, but itâ\x80\x99s probably worth a read',
 'This is important']

In [22]:
clean_tweets6 = []

for tweet in clean_tweets5:
    result = re.sub('@([A-Za-z0-9_]+)', '', tweet)
    clean_tweets6.append(result)

In [23]:

clean_tweets7 = []

for tweet in clean_tweets6:
    result = re.sub('\s([#][\w_-]+)', '', tweet)
    clean_tweets7.append(result)

In [24]:

clean_tweets8 = []

for tweet in clean_tweets7:
    result = re.sub('([#][\w_-]+)', '', tweet)
    clean_tweets8.append(result)

In [25]:
clean_tweets8[:10]

['Going well. Lot of work for an extra 20 secs of Isp!',
 'Hopefully will happen this decade',
 'True',
 'I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars',
 'When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.',
 'Not trying to roast, just being as literal as possible',
 'ð\x9f¤£ð\x9f¤£',
 'Yeah, but Iâ\x80\x99m English',
 'Not quite how I would tell the story, but itâ\x80\x99s probably worth a read',
 'This is important']

In [26]:
def clean_tweet(tweet):
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

In [27]:
result

'Please ignore prior tweets, as that was someone pretending to be me :)  This is actually me.'

In [28]:
x1 = clean_tweet(result.lower())

In [29]:
def get_tweet_sentiment(tweet):
    
    analysis = TextBlob(clean_tweet(tweet.lower())) 
        # set sentiment 
    if analysis.sentiment.polarity > 0: 
        return 'positive', analysis.sentiment.polarity
    elif analysis.sentiment.polarity == 0: 
        return 'neutral', analysis.sentiment.polarity
    else: 
        return 'negative', analysis.sentiment.polarity
    
get_tweet_sentiment(result)

('neutral', 0.0)

In [30]:
listy = []
for t in clean_tweets8:
    listy.append(get_tweet_sentiment(t))
    
len(listy)

12339

In [31]:
sentiments_list = []
polarities_list = []


for tweet in listy:
    sentiments_list.append(tweet[0])
    polarities_list.append(tweet[1])

In [32]:
sentiments = pd.DataFrame(sentiments_list)
polarities = pd.DataFrame(polarities_list)

len(df)

12339

In [33]:
len(sentiments)

12339

In [34]:
df2 = df

In [35]:
sentiments.index = df.index

In [36]:
polarities.index = df.index

In [37]:
df = pd.concat([df2, sentiments, polarities], axis=1)

In [38]:
df.head()

,tweet,tweet_length,0,0
date,,,,
2021-03-22,@bluemoondance74 @NASASpaceflight Going well. Lot of work for an extra 20 secs of Isp!,86,neutral,0.000000
2021-03-21,@NASASpaceflight Hopefully will happen this decade,50,neutral,0.000000
2021-03-21,@newscientist True,18,positive,0.350000
2021-03-21,@cleantechnica I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,128,positive,0.400000
2021-03-21,"@CathieDWood When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",170,positive,0.286111

In [39]:
df.columns = ['tweet', 'tweet_length', 'sentiment', 'polarity']

In [40]:
ct_series = pd.Series(clean_tweets8)
ct_series.index = df.index

ct_series[0]

'Going well. Lot of work for an extra 20 secs of Isp!'

In [41]:
ct_series.index

DatetimeIndex(['2021-03-22', '2021-03-21', '2021-03-21', '2021-03-21',
               '2021-03-21', '2021-03-21', '2021-03-21', '2021-03-21',
               '2021-03-21', '2021-03-21',
               ...
               '2011-12-21', '2011-12-21', '2011-12-21', '2011-12-21',
               '2011-12-04', '2011-12-03', '2011-12-03', '2011-12-01',
               '2011-12-01', '2010-06-04'],
              dtype='datetime64[ns]', name='date', length=12339, freq=None)

In [42]:
elon_df = pd.concat([df, ct_series], axis=1)
elon_df = elon_df.drop(columns=['tweet'])
elon_df.columns = ['tweet_length', 'sentiment', 'polarity', 'tweet']
elon_df.head()

,tweet_length,sentiment,polarity,tweet
date,,,,
2021-03-22,86,neutral,0.000000,Going well. Lot of work for an extra 20 secs of Isp!
2021-03-21,50,neutral,0.000000,Hopefully will happen this decade
2021-03-21,18,positive,0.350000,True
2021-03-21,128,positive,0.400000,I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars
2021-03-21,170,positive,0.286111,"When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great."

In [43]:
le = LabelEncoder()
sen = elon_df.sentiment
sen = le.fit_transform(sen)
sen = pd.Series(sen-1)
sen.index = elon_df.index
elon_df = pd.concat([elon_df, sen], axis=1)
elon_df.columns = ['tweet_length','sentiment', 'polarity', 'tweet', 'encoded_sentiment',]


elon_df.head()

,tweet_length,sentiment,polarity,tweet,encoded_sentiment
date,,,,,
2021-03-22,86,neutral,0.000000,Going well. Lot of work for an extra 20 secs of Isp!,0
2021-03-21,50,neutral,0.000000,Hopefully will happen this decade,0
2021-03-21,18,positive,0.350000,True,1
2021-03-21,128,positive,0.400000,I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars,1
2021-03-21,170,positive,0.286111,"When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great.",1

In [44]:
elon_df = elon_df[['tweet_length', 'encoded_sentiment', 'sentiment', 'polarity', 'tweet']]
elon_df.describe()

       tweet_length  encoded_sentiment      polarity
count  12339.000000       12339.000000  12339.000000
mean      90.777454           0.328957      0.119987
std       66.422119           0.699777      0.258747
min        1.000000          -1.000000     -1.000000
25%       39.000000           0.000000      0.000000
50%       74.000000           0.000000      0.000000
75%      124.000000           1.000000      0.250000
max      430.000000           1.000000      1.000000

In [45]:
elon_df.tail()

,tweet_length,encoded_sentiment,sentiment,polarity,tweet
date,,,,,
2011-12-03,33,0,neutral,0.00,That was a total non sequitur btw
2011-12-03,136,1,positive,0.45,"Great Voltaire quote, arguably better than Twain. Hearing news of his own death, Voltaire replied the reports were true, only premature."
2011-12-01,118,0,neutral,0.00,I made the volume on the Model S http://t.co/wMCnT53M go to 11. Now I just need to work in a miniature Stonehenge...
2011-12-01,141,1,positive,0.65,"Went to Iceland on Sat to ride bumper cars on ice! No, not the country, Vlad's rink in Van Nuys. Awesome family fun :) http://t.co/rBQXJ9IT"
2010-06-04,92,0,neutral,0.00,"Please ignore prior tweets, as that was someone pretending to be me :) This is actually me."

In [46]:
elon_df_clean = elon_df[['encoded_sentiment']]

In [47]:
elon_df_clean.tail()

            encoded_sentiment
date
2011-12-03                  0
2011-12-03                  1
2011-12-01                  0
2011-12-01                  1
2010-06-04                  0

In [48]:
elon_df.to_csv('elon_df.csv')

In [49]:
pd.to_datetime(df.index)

DatetimeIndex(['2021-03-22', '2021-03-21', '2021-03-21', '2021-03-21',
               '2021-03-21', '2021-03-21', '2021-03-21', '2021-03-21',
               '2021-03-21', '2021-03-21',
               ...
               '2011-12-21', '2011-12-21', '2011-12-21', '2011-12-21',
               '2011-12-04', '2011-12-03', '2011-12-03', '2011-12-01',
               '2011-12-01', '2010-06-04'],
              dtype='datetime64[ns]', name='date', length=12339, freq=None)

In [50]:
elon_df.head()

,tweet_length,encoded_sentiment,sentiment,polarity,tweet
date,,,,,
2021-03-22,86,0,neutral,0.000000,Going well. Lot of work for an extra 20 secs of Isp!
2021-03-21,50,0,neutral,0.000000,Hopefully will happen this decade
2021-03-21,18,1,positive,0.350000,True
2021-03-21,128,1,positive,0.400000,I am accumulating resources to help make life multiplanetary &amp; extend the light of consciousness to the stars
2021-03-21,170,1,positive,0.286111,"When vast amounts of manufacturing are needed, as in robotaxis, this slows down rate of introduction, so maybe more like winner-takes-a-quarter. Still great."