In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
from datetime import date, timedelta
from matplotlib import pyplot

Bad key "text.kerning_factor" on line 4 in
C:\Users\tbder\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
elon_csv_path = Path('../group1-project2-main/elon_df.csv')
elon_signals_df = pd.read_csv(elon_csv_path)
tsla_csv_path = Path('../group1-project2-main/TSLA_prices_df.csv')
tsla_results_df = pd.read_csv(tsla_csv_path)

In [3]:
elon_signals_df.head()

,date,tweet_length,encoded_sentiment,sentiment,polarity,tweet
0,2021-03-22,86,0,neutral,0.000000,Going well. Lot of work for an extra 20 secs o...
1,2021-03-21,50,0,neutral,0.000000,Hopefully will happen this decade
2,2021-03-21,18,1,positive,0.350000,True
3,2021-03-21,128,1,positive,0.400000,I am accumulating resources to help make life ...
4,2021-03-21,170,1,positive,0.286111,"When vast amounts of manufacturing are needed,..."

In [4]:
elon_signals_df.columns = ['date','tweet_length','encoded_sentiment','sentiment','polairty','tweet']
elon_signals_df.head()

,date,tweet_length,encoded_sentiment,sentiment,polairty,tweet
0,2021-03-22,86,0,neutral,0.000000,Going well. Lot of work for an extra 20 secs o...
1,2021-03-21,50,0,neutral,0.000000,Hopefully will happen this decade
2,2021-03-21,18,1,positive,0.350000,True
3,2021-03-21,128,1,positive,0.400000,I am accumulating resources to help make life ...
4,2021-03-21,170,1,positive,0.286111,"When vast amounts of manufacturing are needed,..."

In [5]:
elon_signals_df.set_index('date')

,tweet_length,encoded_sentiment,sentiment,polairty,tweet
date,,,,,
2021-03-22,86,0,neutral,0.000000,Going well. Lot of work for an extra 20 secs o...
2021-03-21,50,0,neutral,0.000000,Hopefully will happen this decade
2021-03-21,18,1,positive,0.350000,True
2021-03-21,128,1,positive,0.400000,I am accumulating resources to help make life ...
2021-03-21,170,1,positive,0.286111,"When vast amounts of manufacturing are needed,..."
2021-03-21,80,0,neutral,0.000000,"Not trying to roast, just being as literal as ..."
2021-03-21,25,0,neutral,0.000000,ð¤£ð¤£
2021-03-21,47,0,neutral,0.000000,"Yeah, but Iâm English"
2021-03-21,83,1,positive,0.300000,"Not quite how I would tell the story, but itâ..."
2021-03-21,27,1,positive,0.400000,This is important
2021-03-21,55,-1,negative,-0.095833,"Wow, hard to believe that was 17 years ago!"
2021-03-21,120,0,neutral,0.000000,!
2021-03-20,59,0,neutral,0.000000,Sigh
2021-03-20,46,1,positive,0.100000,I actually ate the sandwich haha!
2021-03-20,23,0,neutral,0.000000,ð¤£ð¤£
2021-03-20,46,0,neutral,0.000000,Music in zero gravity
2021-03-20,192,1,positive,0.129464,"Given significant architectural changes, inclu..."
2021-03-20,104,-1,negative,-0.050000,An orbital propellant depot optimized for cryo...
2021-03-19,57,0,neutral,0.000000,ÐÑÐµÑÑÑÐ¿Ð»ÐµÐ½ÑÐµ Ð¸ Ð½Ð°ÐºÐ°Ð·Ð°Ð½ÑÐµ
2021-03-19,36,0,neutral,0.000000,The [ahem] reach-around
2021-03-19,87,0,neutral,0.000000,"We could talk about Life, the Universe and Eve..."
2021-03-19,29,0,neutral,0.000000,Coming soon!
2021-03-19,23,0,neutral,0.000000,ð¤£ð¤£
2021-03-19,80,-1,negative,-0.050000,"As you can see, I have a long history with usi..."
2021-03-19,51,0,neutral,0.000000,What would you like to talk about?
2021-03-19,19,0,neutral,0.000000,ð¯
2021-03-19,24,0,neutral,0.000000,
2021-03-19,106,0,neutral,0.000000,"Floor is installed, elevator is operational, w..."
2021-03-19,63,1,positive,0.280000,The high bay is measured to fit!
2021-03-18,166,0,neutral,0.000000,We will need launch tower for that. Hook heigh...
...,...,...,...,...,...
2011-12-29,137,1,positive,0.125000,Cool personal essay. It really resonated with ...
2011-12-29,133,1,positive,0.191071,"Liked ""Screw Business as Usual"" a lot. This ap..."
2011-12-29,133,0,neutral,0.000000,Just returned from Haiti. For those who want t...
2011-12-28,20,1,positive,0.350000,So true :)
2011-12-27,118,1,positive,0.600000,If you ever wanted to know the *real* truth ab...
2011-12-26,97,0,neutral,0.000000,Walked around a neighborhood recently rebuilt ...
2011-12-26,117,-1,negative,-0.025000,"It was Xmas, so we brought presents for the ki..."
2011-12-26,123,0,neutral,0.000000,"Met with UNICEF, Doctors Without Borders and A..."
2011-12-26,115,1,positive,0.055556,Just returned from a trip to Haiti. Covered a ...
2011-12-26,69,-1,negative,-0.071429,Single character Tweets are the ulitmate exten...
2011-12-26,1,0,neutral,0.000000,I
2011-12-24,140,1,positive,0.500000,The Russians are having some challenges with t...
2011-12-24,131,1,positive,0.350000,We had a long and interesting conversation on ...
2011-12-24,71,0,neutral,0.000000,Kanye stopped by the SpaceX rocket factory tod...
2011-12-22,120,-1,negative,-0.083333,Model S options are out! Performance in red an...
2011-12-22,120,1,positive,0.400000,"Hi, I'm Art Garfunkel. Have you heard the soun..."
2011-12-22,125,-1,negative,-0.500000,Raul Campos invited me to do a guest DJ gig on...
2011-12-21,62,1,positive,0.250000,Yum! Even better than deep fried butter: http...
2011-12-21,140,-1,negative,-0.025000,"Yeah, this really is me, as my Mom will attest..."
2011-12-21,136,-1,negative,-0.500000,Got called randomly by Kanye West today and re...
2011-12-21,108,0,neutral,0.000000,His singing and acting talent will be sorely m...
2011-12-21,128,0,neutral,0.000000,Why does the crowd cry over the glorious leade...
2011-12-21,110,1,positive,0.650000,Sam Harris also wrote a nice piece on the awes...
2011-12-21,109,1,positive,0.612121,"Read ""Lying"", the new book by my friend Sam Ha..."
2011-12-04,77,1,positive,0.480000,Am reading a great biography of Ben Franklin b...
2011-12-03,33,0,neutral,0.000000,That was a total non sequitur btw
2011-12-03,136,1,positive,0.450000,"Great Voltaire quote, arguably better than Twa..."
2011-12-01,118,0,neutral,0.000000,I made the volume on the Model S http://t.co/...
2011-12-01,141,1,positive,0.650000,Went to Iceland on Sat to ride bumper cars on ...
2010-06-04,92,0,neutral,0.000000,"Please ignore prior tweets, as that was someon..."

In [6]:
tsla_df = tsla_results_df.drop(columns = 'QQQ')

In [7]:
tsla_df.set_index('date')

                  TSLA  earnings flag
date
2010-06-29         NaN              0
2010-06-30   -0.012000              0
2010-07-01   -0.374000              0
2010-07-02   -0.552000              0
2010-07-06   -0.618000              0
2010-07-07   -0.062000              0
2010-07-08    0.332000              1
2010-07-09   -0.012000              0
2010-07-12   -0.070000              0
2010-07-13    0.218000              1
2010-07-14    0.340000              1
2010-07-15    0.010000              1
2010-07-16    0.150000              1
2010-07-19    0.254000              1
2010-07-20   -0.322000              0
2010-07-21   -0.016000              0
2010-07-22    0.156000              1
2010-07-23    0.058000              1
2010-07-26   -0.068000              0
2010-07-27   -0.080000              0
2010-07-28    0.034000              1
2010-07-29   -0.074000              0
2010-07-30   -0.082000              0
2010-08-02    0.196000              1
2010-08-03    0.206000              1
2010-08-04   -0.138000              0
2010-08-05   -0.162000              0
2010-08-06   -0.172000              0
2010-08-09    0.002000              1
2010-08-10   -0.114000              0
...                ...            ...
2021-03-01   42.929993              1
2021-03-02  -31.989990              0
2021-03-03  -33.239990              0
2021-03-04  -31.760010              0
2021-03-05  -23.489990              0
2021-03-08  -34.950012              0
2021-03-09  110.580017              1
2021-03-10   -5.520020              0
2021-03-11   31.539978              1
2021-03-12   -5.869995              0
2021-03-15   14.210022              1
2021-03-16  -31.059998              0
2021-03-17   24.929993              1
2021-03-18  -48.650024              0
2021-03-19    1.710022              1
2021-03-22   15.130005              1
2021-03-23   -7.840027              0
2021-03-24  -31.889954              0
2021-03-25   10.119995              1
2021-03-26  -21.679993              0
2021-03-29   -7.420044              0
2021-03-30   24.330017              1
2021-03-31   32.309998              1
2021-04-01   -6.179993              0
2021-04-05   29.299988              1
2021-04-06    0.570007              1
2021-04-07  -20.650024              0
2021-04-08   12.830017              1
2021-04-09   -6.779968              0
2021-04-12   24.959961              1

[2715 rows x 2 columns]

In [8]:
tsla_df.head()

         date   TSLA  earnings flag
0  2010-06-29    NaN              0
1  2010-06-30 -0.012              0
2  2010-07-01 -0.374              0
3  2010-07-02 -0.552              0
4  2010-07-06 -0.618              0

In [9]:
merged_df=tsla_df.merge(elon_signals_df,how='outer')
merged_df.index = pd.to_datetime(merged_df.index)
merged_df.head()

,date,TSLA,earnings flag,tweet_length,encoded_sentiment,sentiment,polairty,tweet
1970-01-01 00:00:00.000000000,2010-06-29,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000001,2010-06-30,-0.012,0.0,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000002,2010-07-01,-0.374,0.0,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000003,2010-07-02,-0.552,0.0,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000004,2010-07-06,-0.618,0.0,NaN,NaN,NaN,NaN,NaN

In [10]:
merged_df.set_index('date')

,TSLA,earnings flag,tweet_length,encoded_sentiment,sentiment,polairty,tweet
date,,,,,,,
2010-06-29,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2010-06-30,-0.012,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-01,-0.374,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-02,-0.552,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-06,-0.618,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-07,-0.062,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-08,0.332,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-09,-0.012,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-12,-0.070,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-13,0.218,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-14,0.340,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-15,0.010,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-16,0.150,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-19,0.254,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-20,-0.322,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-21,-0.016,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-22,0.156,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-23,0.058,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-26,-0.068,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-27,-0.080,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-28,0.034,1.0,NaN,NaN,NaN,NaN,NaN
2010-07-29,-0.074,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-30,-0.082,0.0,NaN,NaN,NaN,NaN,NaN
2010-08-02,0.196,1.0,NaN,NaN,NaN,NaN,NaN
2010-08-03,0.206,1.0,NaN,NaN,NaN,NaN,NaN
2010-08-04,-0.138,0.0,NaN,NaN,NaN,NaN,NaN
2010-08-05,-0.162,0.0,NaN,NaN,NaN,NaN,NaN
2010-08-06,-0.172,0.0,NaN,NaN,NaN,NaN,NaN
2010-08-09,0.002,1.0,NaN,NaN,NaN,NaN,NaN
2010-08-10,-0.114,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2012-02-04,NaN,NaN,96.0,1.0,positive,0.200000,"Yeah, we will stream the whole mission realtim..."
2012-02-04,NaN,NaN,120.0,0.0,neutral,0.000000,Docking with Space Station now likely to happe...
2012-01-28,NaN,NaN,55.0,-1.0,negative,-0.187500,The lady doth protest too little. http://t.co...
2012-01-28,NaN,NaN,126.0,1.0,positive,0.295455,The Model X unveiling will be webcast live on ...
2012-01-22,NaN,NaN,58.0,0.0,neutral,0.000000,I heard Lars von Trier optioned the movie rights
2012-01-14,NaN,NaN,108.0,-1.0,negative,-0.312500,Somebody needs to tell Kim Jong-un that the sh...
2012-01-14,NaN,NaN,89.0,1.0,positive,0.500000,"Once more, with feeling! ""North Korea Punishe..."
2012-01-01,NaN,NaN,107.0,1.0,positive,0.295455,"On a lighter note, the RHCP are f* awesome. No..."
2012-01-01,NaN,NaN,77.0,0.0,neutral,0.000000,I said *information* weapons for a reason. The...
2012-01-01,NaN,NaN,125.0,1.0,positive,0.425000,"If we are not careful, we will find that knife..."
2012-01-01,NaN,NaN,130.0,1.0,positive,0.257143,We built powerful information weapons to fight...
2012-01-01,NaN,NaN,135.0,1.0,positive,0.200000,"However, China's real estate crisis will explo..."
2012-01-01,NaN,NaN,129.0,1.0,positive,0.433333,"Yeah, 2012 will be great for the American econ..."
2012-01-01,NaN,NaN,63.0,1.0,positive,0.300000,My first prediction of 2012 has come true: ouc...
2011-12-31,NaN,NaN,128.0,1.0,positive,0.258333,World violence being super low is probably cou...
2011-12-31,NaN,NaN,137.0,1.0,positive,0.450000,Here's a happy thought for 2012: world violenc...
2011-12-31,NaN,NaN,99.0,-1.0,negative,-0.125000,Hacked my Tesla charge connector on a small is...
2011-12-26,NaN,NaN,97.0,0.0,neutral,0.000000,Walked around a neighborhood recently rebuilt ...
2011-12-26,NaN,NaN,117.0,-1.0,negative,-0.025000,"It was Xmas, so we brought presents for the ki..."
2011-12-26,NaN,NaN,123.0,0.0,neutral,0.000000,"Met with UNICEF, Doctors Without Borders and A..."
2011-12-26,NaN,NaN,115.0,1.0,positive,0.055556,Just returned from a trip to Haiti. Covered a ...
2011-12-26,NaN,NaN,69.0,-1.0,negative,-0.071429,Single character Tweets are the ulitmate exten...
2011-12-26,NaN,NaN,1.0,0.0,neutral,0.000000,I
2011-12-24,NaN,NaN,140.0,1.0,positive,0.500000,The Russians are having some challenges with t...
2011-12-24,NaN,NaN,131.0,1.0,positive,0.350000,We had a long and interesting conversation on ...
2011-12-24,NaN,NaN,71.0,0.0,neutral,0.000000,Kanye stopped by the SpaceX rocket factory tod...
2011-12-04,NaN,NaN,77.0,1.0,positive,0.480000,Am reading a great biography of Ben Franklin b...
2011-12-03,NaN,NaN,33.0,0.0,neutral,0.000000,That was a total non sequitur btw
2011-12-03,NaN,NaN,136.0,1.0,positive,0.450000,"Great Voltaire quote, arguably better than Twa..."
2010-06-04,NaN,NaN,92.0,0.0,neutral,0.000000,"Please ignore prior tweets, as that was someon..."

In [11]:
merged_df.tail()

,date,TSLA,earnings flag,tweet_length,encoded_sentiment,sentiment,polairty,tweet
1970-01-01 00:00:00.000013644,2011-12-24,NaN,NaN,71.0,0.0,neutral,0.00,Kanye stopped by the SpaceX rocket factory tod...
1970-01-01 00:00:00.000013645,2011-12-04,NaN,NaN,77.0,1.0,positive,0.48,Am reading a great biography of Ben Franklin b...
1970-01-01 00:00:00.000013646,2011-12-03,NaN,NaN,33.0,0.0,neutral,0.00,That was a total non sequitur btw
1970-01-01 00:00:00.000013647,2011-12-03,NaN,NaN,136.0,1.0,positive,0.45,"Great Voltaire quote, arguably better than Twa..."
1970-01-01 00:00:00.000013648,2010-06-04,NaN,NaN,92.0,0.0,neutral,0.00,"Please ignore prior tweets, as that was someon..."

In [15]:
merged_df = merged_df.dropna()

In [16]:
merged_df.to_csv('total_data.csv')